html,
body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  background: #f9f9f9;
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  max-width: 1152px;
  background: #fff;
  padding-bottom: 30px;
  box-sizing: border-box;
}
