.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px;
  background: #3298dc;
  color: #fff;
  border-bottom: 2px solid #eee;
}

.title {
  margin: 0;
  letter-spacing: -1px;
}

.motto {
  margin: 0;
  text-transform: capitalize;
  font-weight: 400;
}

.est {
  font-style: italic;
  margin: 10px 0 0 0;
}

@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: flex-end;
    padding: 30px;
  }
}
