.card {
  display: flex;
  width: 100%;
  border: 1px solid #eee;
  margin: 10px;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}

.card:hover {
  background: #f5f5f5;
}

.image img {
  border-right: 1px solid #eee;
  width: 80px;
  height: 100%;
  object-fit: cover;
}

.details {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.name {
  margin: 5px 0;
}

.jobTitle {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .card {
    max-width: 340px;
  }

  .image img {
    width: 128px;
  }
}
