.employeesHeader {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.employeesHeader h2 {
  margin: 0 0 10px 0;
}

.filterText {
  display: none;
}

.filterOpt {
  margin: 5px;
  padding: 5px 10px;
  box-sizing: border-box;
  height: 38px;
  display: none;
  border-radius: 3px;
  border: 1px solid #eee;
  font-size: 14px;
}

.filterOpt:last-child {
  display: block;
  width: 100%;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .employeesHeader {
    flex-direction: row;
    align-items: center;
  }

  .filterOpt,
  .filterText {
    display: inline;
  }

  .employeesHeader h2 {
    margin: 0;
  }

  .filterOpt:last-child {
    display: inline-block;
    width: auto;
  }
}
