.wrapper {
  margin: 15px 15px 0 15px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .wrapper {
    margin: 30px 30px 0 30px;
  }
}
