.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalInner {
  width: 95%;
  height: auto;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 30px 15px;
  box-sizing: border-box;
  position: absolute;
  top: 60px;
}

.close {
  position: absolute;
  right: 0;
  top: -32px;
  font-size: 32px;
  height: 32px;
  line-height: 32px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 0;
  color: #fff;
  padding: 0;
  outline: none;
}

.close:hover {
  color: #3298dc;
}

.section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profileImg {
  border-radius: 80px;
  width: 80px;
}

.left {
  border-right: none;
  padding-right: 0;
  text-align: center;
}

.right {
  padding: 0;
}

.right h1 {
  border-bottom: 2px solid #222;
  padding-bottom: 10px;
  display: inline-block;
}

.right p {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .modalInner {
    width: 540px;
    padding: 30px;
    position: relative;
    top: 0;
  }

  .close {
    top: -50px;
    font-size: 50px;
    height: 50px;
    line-height: 50px;
  }

  .profileImg {
    width: 128px;
    border-radius: 128px;
  }

  .section {
    flex-direction: row;
  }

  .left {
    border-right: 1px solid #eee;
    padding-right: 20px;
    flex-basis: 128px;
    min-width: 128px;
  }

  .right {
    padding: 0 30px;
  }
}
